{{>layouts/header}}

{{#article}}
    <form class="container" action="/articles/update" method ="post">
        <input name="id" type="hidden" value="{{id}}" />
<!--   기존에 있는 article 의 id 값을 숨겨서(hidden) 보낸다.     -->
        <div class="mb-3">
            <label class="form-label">제목</label>
            <input type="text" class="form-control" name="title" value ="{{title}}">
        </div>
        <div class="mb-3">
            <label class="form-label">내용</label>
            <textarea class="form-control" rows="3" name="content" >{{content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/articles/{{id}}">back</a>
    </form>
{{/article}}
{{>layouts/footer}}

<!--form 태그는 GET과 POST 만 지원하므로 아쉽게 method="patch" 가 아닌 post 로 한다. 추후 개선된 방법 사용 예정 -->